.title-itservices{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    width: 100%;
    margin-top: 30px;
    color: #ffffff;
    font-weight: bold;
}

.card-itservices {
    background-color: #ffff;
    color: white;
    text-align: center;
    width: 350px;
    height: 250px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;  
    margin-top: 20px;
}

.card-itservices-title {
    font-size: 36px;
    font-weight: bold;
    color: #2c3e50;
    text-align: center;
}

.sticker-container-itservices{
    display: flex;
    flex-wrap: wrap; /* Permite que os stickers quebrem para a linha de baixo se necessário */
    gap: 10px; /* Espaçamento entre os stickers */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.sticker-image-itservices{
    width: 90px; /* Ajuste o tamanho conforme necessário */
    height: 90px;
    border-radius: 10px;
    object-fit: contain;
    margin-top: 20px;
}