.title-teams{
  flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  width: 100%;
  margin-top: 40px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 10px;
  }

  /* Flex container para alinhar h1 e botão lado a lado */
.title-row-teams {
  display: flex;
  align-items: center;
  gap: 42vw; /* Espaçamento entre o título e o botão 35vw- 35% da tela*/
}

  .description-team {
    background-color: #ffff;
    color: white;
    text-align: center;
    width: 350px;
    height: 500px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.description-text-wrapper {
    margin-top: auto; /* Garante espaço entre o título e o texto */
    margin-bottom: auto; /* Garante espaço na parte de baixo */
    width: 100%; /* Garante que o texto ocupe toda a largura disponível */
    height: calc(100% - 50px); /* Calcula a altura restante, considerando o título */
    overflow-y: auto; /* Adiciona roll apenas na vertical */
    padding: 10px; /* Espaçamento interno para o texto */
    box-sizing: border-box; /* Inclui o padding na largura e altura */
}

.colaborators-team{
    background-color: #ffff;
    color: black;
    text-align: center;
    width: 600px;
    height: 430px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;  
    margin-top: 30px;
}

.colaborators-team-header h3{
  margin-top: -5px;
  margin-bottom: 20px;
}

.team-members-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sticker-img {
  width: 100px; /* Ajuste o tamanho conforme necessário */
  height: 100px;
  border-radius: 10px;
  object-fit: contain;
}


.go-back{
    background-color: #1a2a50;
    color: white;
    justify-content: center;
    width: 200px;
    height: 50px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
    font-weight: bold;
    margin-left: 250px;
    margin-right: 20px;  
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
}

.pagination-container {
    display: flex; 
    justify-content: center; 
}

.pagination {
  display: flex;
  gap: 5px; /* espaço entre os itens */
  list-style: none;
  justify-content: center;
  padding: 0;
}

.page-item {
  border: 2px solid #1a2a50; /* azul */
  border-radius: 10px;
  overflow: hidden;
  display: flex;
}

.page-item.disabled .page-link {
  opacity: 0.5;
  pointer-events: none;
}

.page-link {
  width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.page-item.active .page-link {
  background-color: #4a90e2;
  color: white;
}

@media only screen and (max-width: 1000px) {
  .description-team{
    width: 90%;
    height: 400px;
  }

  .colaborators-team{
    width: 90%;
    height: 750px;
  }

  .go-back{
    width: 90%;
    height: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .title-row-teams {
    gap: 5vw; /* Espaçamento entre o título e o botão 35vw- 35% da tela*/
  }

  .title-teams h1{
    font-size: 18px;
    margin: auto;
    font-weight: bold;
  }
}