/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #4a90e2; /* Garante que o fundo azul cubra tudo */
}

h2{
  font-size: 48px;
  font-weight: bold;
}

h3{
  font-size: 28px;
  font-weight: bold;
}

h4{
  font-size: 24px;
  font-weight: bold;
}

h5{
  font-size: 12px;
  font-weight: bold;
  color:#2c3e50;
}

h6{
  font-size: 14px;
  font-weight: bold;
  color:#4a90e2;
}
  
.btn-primary{
  background-color: #1a2a50;
  font-weight: bold; /* Deixa a fonte mais destacada */
  border-radius: 9999px;
  padding: 0.5rem 2rem;
}

.btn-light{
  background-color: white;
  border-radius: 9999px;
  padding: 0.5rem 2rem;
  font-size: 1.5rem; /* Aumenta o tamanho da fonte */
  font-weight: bold; /* Deixa a fonte mais destacada */
  color:#2c3e50;
  margin-top:-20px;
}

.app-container {
  display: flex; /* Garante que o layout funcione corretamente */
  flex-direction: column;
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between; /* Garante espaçamento entre os grupos */
  align-items: center;
  padding: 1rem 2rem;
}

.nav-left {
  display: flex;
  gap: 1rem; /* Aumenta o espaçamento entre os botões */
  position: absolute;
  top: 35px;
  left: 20px;
}

.nav-right {
  display: flex;
  gap: 1rem; /* Aumenta o espaçamento entre os botões */
  position: absolute;
  top: 20px;
  right: 20px;
}

.nav-right .btn-primary {
  min-width: 160px; /* Define um tamanho mínimo */
  text-align: center; /* Centraliza o texto */
  flex-shrink: 0; /* Impede que os botões encolham demais */
}

/* Main styles */

/* Fundo azul cobre toda a tela */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #4a90e2;
  overflow: hidden;
}

.home-box {
  position: relative;
  z-index: 1;
  background-color: #1a2a50;
  color: white;
  border-radius: 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 400px;
  text-align: center;
}
  
.home-title {
  position: relative;
  color: white;
  font-size: 68px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

  /* Botão de cadastro */
  .go-button {
    width: 90%;
    padding: 15px;
    font-size: 36px;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    background-color: #4a90e2;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
    text-decoration: none;
  }
  
  /* Efeito ao passar o mouse */
  .go-button:hover {
    background-color: #357abd;
  }

.second-page{
  background-color: white;
  width: 100%;
  padding-bottom: 40px;
}

.title-container-team-assignment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-top: 40px;
}
  
.team-assignment {
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  color:#1a2a50;
  }

.stickers-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
  
.sticker-home {
  width: 200px;
  height: auto;
  margin-left: 40px;
}

.sticker-home:hover {
  transform: scale(1.1);
}

.title-container-home-assignment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-top: 40px;
}

.home-department {
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  color:#1a2a50;
  }

.departments-container-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.department-card-home {
  background-color: #1a2a50;
  color: white;
  text-align: center;
  width: 200px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  text-decoration: none;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;  
}

.department-card-home:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
}

/* Ícones */
.department-icon-home {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  object-fit: contain;
}




  