.title-departments{
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  width: 100%;
  margin-top: 20px;
}

/* Departamentos */
.departments-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

/* Cartões de departamento */
.department-card {
  background-color: #1a2a50;
  color: white;
  text-align: center;
  width: 200px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  text-decoration: none;
  font-weight: bold;
  margin-left: 80px;
  margin-right: 80px;  
}

.department-card:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
}

/* Ícones */
.department-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  object-fit: contain;
}
