/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #4a90e2; /* Garante que o fundo azul cubra tudo */
}

h1 {
  text-align: center; /* Centraliza o texto dentro do h1 */
  font-size: 3rem; /* Ajusta o tamanho da fonte, se necessário */
  color: white; /* Torna o texto visível sobre o fundo azul */
  margin-top: 20px; /* Opcional: adiciona algum espaço no topo se necessário */
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Garante que o conteúdo começa no topo */
  align-items: center; /* Apenas alinha o conteúdo na horizontal */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
}

.nav-right {
  display: flex;
  gap: 1rem;
  margin-left: 620px;
}

.nav-link {
  padding-left: 20px;
  background-color: #2c3e50;
  color: white;
  border-radius: 9999px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #34495e;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  background-color: #4a90e2;
}

.center-box {
  background-color: #1a2a50;
  color: white;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: #ddd;
}

