h2{
  font-size: 32px;
}

h3{
  color: #1a2a50;
  font-weight: bold; /* Deixa a fonte mais destacada */
}

/* Fundo azul cobre toda a tela */
.register-container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 80vh;
  width: 100%;
  background-color: #4a90e2;
}

.register-box {
  background-color: #1a2a50;
  color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  width: 900px;
  text-align: center;
}
  
  /* Título "Register" */
  .register-title {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
  }

  /* Botão de cadastro */
  .register-button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: #4a90e2;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  /* Efeito ao passar o mouse */
  .register-button:hover {
    background-color: #357abd;
  }

  .form-select{
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .sticker-container {
    text-align: center;
    width: 100%;
    padding: 2px;
    height: 305px;
    background-color: #ffffff;
    border-radius: 15px;
}

.sticker-selection {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

.sticker {
    cursor: pointer;
}

.sticker:hover {
    transform: scale(1.1);
}

.sticker.selected {
    border: 3px solid #357abd;
    box-shadow: 0 0 10px rgba(53, 122, 189, 0.5);
}